.home {
  margin: 0 auto;
  box-sizing: border-box;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
  }

  &__blog-list {
    flex: 1;
    height: auto;
  }

  &__blog-item {
    background-color: #f4f4f4;
    color: #333333;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;

    &__title {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

    &__time-and-author {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0 20px;
    }

    &__time {
      margin-right: 15px;
    }

    &__content {
      word-break: break-all;
    }

    &__tags {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__blog-aside {
    width: 300px;
    margin-left: 30px;
    height: auto;
    background-color: blue;
  }
}

@media (max-width: 750px) {
  .home__blog-aside {
    display: none;
  }
}
