.home {
  margin: 0 auto;
  box-sizing: border-box;

  &__blog-list {
    flex: 1;
    height: auto;
  }
}

@media (max-width: 750px) {
  .home {
    &__blog-aside {
      display: none;
    }

    &__content {
      margin: 0 20px;
    }
  }

}
