.navigation-page {
  display: blok;

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 750px) {
  .navigation-page {
    display: none;
  }
}
