.home {
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
  }

  &__blog-list {
    flex: 1;
    margin-right: 30px;
    background-color: red;
    height: auto;
  }

  &__blog-aside {
    width: 300px;
    height: auto;
    background-color: blue;
  }
}
